<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page non trouvée</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #dc3545;
        }
        .btn-primary {
            margin: 0 5px;
        }
    </style>
</head>
<body class="container">

<div class="card mt-5 mx-auto" style="max-width: 35rem;">
    <div class="card-body text-center">
        <h1>Oups, erreur 404 !</h1>
        <hr>
        <p class="card-text"><strong>Désolé, la page que vous recherchez n'existe pas.</strong></p>
        <div class="d-grid gap-2 d-md-flex justify-content-center mt-4">
            <!-- Lien de redirection vers l'accueil -->
            <a th:href="@{/}" class="btn btn-primary">Accueil</a>
            <!-- Lien de redirection vers la liste des étudiants -->
            <a th:href="@{/list}" class="btn btn-primary">Liste des Étudiants</a>
        </div>
    </div>
</div>

</body>
</html>
